requests==2.32.4
dotenv==0.9.9
tqdm==4.67.1
backoff==2.2.1
matplotlib==3.10.3
docker==7.1.0
datasets==3.6.0
GitPython==3.1.44
litellm==1.74.9
pandas==2.3.2
sympy==1.14.0

# for balrog
hydra-core==1.3.2
gym==0.23.0
gymnasium==1.2.0
setuptools==80.9.0
wheel==0.46.2
git+https://github.com/BartekCupial/Minigrid.git@cf73dd148e51276bd675a37e3bfb0bf2b42329b2
git+https://github.com/balrog-ai/minihack.git@3ecb6da4eadcac7a4dbc5f8e801ccf636e34d7ec
git+https://github.com/nacloos/baba-is-ai

# for genesis
# Note: torch and torchvision are installed separately in Dockerfile with CUDA index
# torch==2.1.0
# torchvision==0.16.0
rsl-rl-lib==2.2.4
tensorboard==2.20.0
git+https://github.com/Genesis-Embodied-AI/Genesis.git
